@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

html {
  @apply scroll-smooth bg-primary;
}

h1,
h2,
h3 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  @apply uppercase;
}

h1 {
  @apply text-6xl font-bold leading-none text-center md:text-left md:text-9xl;
}

h2 {
  @apply text-3xl md:text-6xl uppercase font-bold whitespace-nowrap;
}

h3 {
  @apply font-black uppercase text-3xl md:text-6xl;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll {
  animation: scroll 100s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s normal;
}

@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

h2::after {
  content: "";
  display: block;
  height: 8px;
  width: 0;
  background-color: #0f05ff;
  border-radius: 3px;
  transform-origin: center;
  transition: width 0.3s ease;
}

h2:hover::after {
  width: 70%;
}
